---
layout: main-layout.njk
title: Projects
---

<h1 class="mb-8 font-serif text-4xl">Projects</h1>
<div
    class="rounded-md border border-zinc-700 shadow-sm shadow-zinc-400 dark:border-zinc-600 dark:shadow dark:shadow-slate-600 lg:w-1/2"
>
    <div
        class="border-b border-zinc-700 bg-blue-200 py-3 px-5 text-xl dark:border-zinc-600 dark:bg-blue-900"
    >
        MyMovieStash -
        <a class="link" href="https://mymoviestash.com">mymoviestash.com</a>
    </div>
    <a href="/images/mymoviestash-homepage.png">
        <img
            src="/images/mymoviestash-homepage.png"
            title="MyMovieStash homepage"
        />
    </a>
    <div
        class="flex flex-col gap-y-3 border-t border-zinc-700 px-5 py-3 dark:border-zinc-600"
    >
        A web application where you can catalog your movie collection. You can
        catalog the following media formats: 4K Ultra HD Blu-ray, Blu-ray, DVD,
        Digital.
        <a
            href="/projects/mymoviestash/"
            class="block w-fit rounded-md bg-blue-600 px-4 py-2 text-slate-100 shadow shadow-zinc-700 hover:bg-blue-700 hover:shadow-md hover:shadow-zinc-700 dark:bg-blue-300 dark:text-zinc-700 dark:shadow-slate-400 dark:hover:bg-blue-200 dark:hover:shadow-slate-400"
            >Read more about MyMovieStash</a
        >
    </div>
</div>
