---
layout: main-layout.njk
title: MyMovieStash
---

<h1 class="mb-8 font-serif text-4xl">MyMovieStash</h1>
<div class="mb-4">
    Link to project:
    <a href="https://mymoviestash.com" class="link">mymoviestash.com</a>
</div>
<div
    class="mb-8 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
    <div class="flex flex-col gap-y-1.5">
        <a href="/images/mymoviestash-homepage.png">
            <img
                src="/images/mymoviestash-homepage.png"
                title="MyMovieStash homepage"
            />
        </a>
        <a href="https://mymoviestash.com" class="link w-fit">Home page</a>
    </div>
    <div class="flex flex-col gap-y-1.5">
        <a href="/images/mymoviestash-search.png">
            <img
                src="/images/mymoviestash-search.png"
                title="MyMovieStash search results"
            />
        </a>
        <a href="https://mymoviestash.com/Search?s=the+matrix" class="link w-fit">Search results</a>
    </div>
    <div class="flex flex-col gap-y-1.5">
        <a href="/images/mymoviestash-moviedetails.png">
            <img
                src="/images/mymoviestash-moviedetails.png"
                title="MyMovieStash movie details"
            />
        </a>
        <a href="https://mymoviestash.com/MovieDetails/478?u=1" class="link w-fit">Movie details</a>
    </div>
    <div class="flex flex-col gap-y-1.5">
        <a href="/images/mymoviestash-moviestash.png">
            <img
                src="/images/mymoviestash-moviestash.png"
                title="MyMovieStash MovieStash"
            />
        </a>
        <a href="https://mymoviestash.com/MovieStash/1" class="link w-fit">MovieStash</a>
    </div>
</div>
<div class="flex flex-col gap-y-5">
    <div class="flex flex-col gap-y-3">
        <h2 class="font-serif text-2xl">Why MyMovieStash?</h2>
        <div class="flex flex-col gap-y-2 pl-4">
            <p>I built MyMovieStash for a couple of reasons.</p>
            <p>
                The first reason is that I have a home theater system that I
                love watching movies on. I have a collection of 4K Ultra HD
                Blu-ray movies that fully utilize the audio and video
                capabilities of my home theater system for a theater-like
                experience. I wanted to be able to catalog the movies I have and
                log when I added them to my collection and when I watched them.
                I also wanted to be able to easily share my MovieStash with
                family and friends to figure out what movie to watch for a movie
                night.
            </p>
            <p>
                The second reason is that I also wanted to learn how to design
                and build a web application, from the frontend, to the
                backend, and the infrastructure.
            </p>
        </div>
    </div>
    <div class="flex flex-col gap-y-3">
        <h2 class="font-serif text-2xl">What can you do on MyMovieStash?</h2>
        <div class="flex flex-col gap-y-2 pl-4">
            <ul class="list-inside list-disc">
                <li>Create your own MyMovieStash account to catalog your movie
                    collection</li>
                <li>Search for a movie by movie title</li>
                <li>Select which format(s) you own of a selected movie</li>
                <li>For each format, log when you added a movie to your
                    MovieStash and when you watched it</li>
                <li>Add the movie to your MovieStash</li>
                <li>View your MovieStash, with filtering and sort by</li>
                <li>Share your MovieStash, with or without applied filtering and
                    sort by</li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col gap-y-3">
        <h2 class="font-serif text-2xl">Tech used to build/run MyMovieStash</h2>
        <div class="flex flex-col gap-y-2 pl-4">
            <h3 class="text-lg">Frontend</h3>
            <ul class="list-inside list-disc pl-4">
                <li>Bootstrap v5</li>
                <li>Custom CSS/SCSS</li>
                <li>Native JavaScript</li>
                <li>npm and Rollup.js to manage client-side assets</li>
            </ul>
            <h3 class="text-lg">Backend</h3>
            <ul class="list-inside list-disc pl-4">
                <li>Server-side rendered pages using ASP.NET Core 6 MVC</li>
                <li>C#</li>
                <li>EF Core, EF Core migrations, and LINQ</li>
                <li>ASP.NET Core Identity to user authentication</li>
                <li>Azure SQL Database for data store</li>
            </ul>
            <h3 class="text-lg">Infrastructure</h3>
            <ul class="list-inside list-disc pl-4">
                <li>Azure App Service for hosting</li>
                <li>Cloudflare for DNS records management</li>
                <li>Azure Key Vault for secrets management</li>
                <li>Azure Cognitive Search for searching by movie title</li>
                <li>Azure Data Factory for running ETL pipeline, using Azure
                    Data Lake Storage Gen2 for staging data</li>
                <li>Azure Active Directory authentication and Azure role-based
                    access control authorization</li>
                <li>Azure DevOps Services for hosting git repo</li>
                <li>Azure Pipelines for CICD, using dockerized self-hosted agent
                    to run jobs</li>
                <li>Mailgun for transactional emails, MJML for templating</li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col gap-y-3">
        <h2 class="font-serif text-2xl">TODO items</h2>
        <div class="flex flex-col gap-y-2 pl-4">
            <ul class="list-inside list-disc">
                <li>Reduce infrastructure costs</li>
                <li>Setup staging environment</li>
                <li>Create testing suite</li>
                <li>New feature: movie rating system</li>
                <li>New feature: barcode scanner</li>
            </ul>
        </div>
    </div>
</div>
<a
    class="mt-12 block w-fit rounded-md bg-blue-600 px-4 py-2 text-slate-100 shadow shadow-zinc-700 hover:bg-blue-700 hover:shadow-md hover:shadow-zinc-700 dark:bg-blue-300 dark:text-zinc-700 dark:shadow-slate-400 dark:hover:bg-blue-200 dark:hover:shadow-slate-400"
    href="/projects/"
>
    <svg
        class="mr-2 inline fill-slate-100 dark:fill-zinc-900"
        width="24"
        height="24"
        viewBox="0 0 24 24"
    >
        <path
            d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z"
        ></path>
    </svg>
    Projects
</a>
